<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>戸籍届出かんたん審査</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="出生届・婚姻届・離婚届・死亡届・転籍届のチェックサイト">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/e04ab46779.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <!--nav_var-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/">戸籍届出かんたん審査</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">concept</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/syusyou">出生届</a>
                            <a class="dropdown-item" href="/konin">婚姻届</a>
                            <a class="dropdown-item" href="/rikon">離婚届</a>
                            <a class="dropdown-item" href="/shibou">死亡届</a>
                            <a class="dropdown-item" href="/tenseki">転籍届</a>
                        </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">contact</a>
                    </li>
                    </li>
                </ul>
            </div>
        </nav>
        <%= yield %>
    </div>
</body>

</html>